**/.git
**/.git-rewrite
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/.env
**/.env.*
!**/.env.example
**/appsettings.Development.json
**/wwwroot/appsettings.Development.json
**/tests
**/*.md
docs/
scripts/
.github/
